/* .main{
    border: 2px solid gray;
    width: 200px;
    margin: 0 auto;
}
.result{
    width: 97%;
    background-color: gray;
    color: white;
}
.clearBtn{
    width: 100%;
    margin-top: 10px;
    background-color: grey;
}
.btn{
    width: 45px;
    margin: 1px;
    background-color: grey;
}
.halfBtn{
    width: 98px;
    margin-top: 5px;
    background-color: grey;
} */

/* .hidden {
    display: none;
}

.image {
    width: 500px;
    height: 500px;
} */

/* .small {
    width: 100px;
    height: 100px;
} 
.big {
    width: 300px;
    height: 300px;
}  */

/* body{
    background-color: black;
    text-align: center;
}
.image {
    width: 200px;
    height: 300px;
}  */

/* .bold{
    font-weight: bold;
}
.blue{
    color: blue;
} */

/* body {
    background-color: black;
    text-align: center;
}

h1 {
    color: black;
    display: inline-block;
    width: 100px;
    background-color: white;
} */

/* .cart{
    height: 200px;
    width: 300px;
    background-color: orange;
    margin-left: 30px;
}
.main{
    display: flex;
}

.blue{
    background-color: blue;
} */

/* TODO APP */
/* body{
    text-align: center;
} */

/* // --------------------class 10-------------------- (QUIZ APP ) */
/* quiz app 1 */
/* fieldset{
    border-radius: 2em;
     text-align: justify; 
 }
#result{
    margin-left: 700px;

} */ 
/* quiz app 2 */
/* 
p{
    font-size: 25px;
}
p:hover {
    background-color: royalblue;
  }
.active{
    background-color: royalblue;
} */